<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="css/images/startscreen.gif"/>
    <base href="/">
    <title>Mongoose Scraper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/scraper.css">
  </head>
  <body>
    {{{body}}}
  </body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="app.js"></script>
</html>